.active{
    color: #fff700;

}

.Inactive{
    color: #000;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    height: 100vh;
    background-color: rosybrown;
}

